.header {
    padding: 16px 0;
    box-shadow: 0 8px 24px rgba(27, 28, 29, 0.16);
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    z-index: 100;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    gap: 14px;
    margin-right: 53px;
}

.header-logo-text-title {
    font-weight: 500;
    font-size: 16px;
}

.header-logo-text-title::after {
    content: '2024';
    position: absolute;
    right: -53px;
    bottom: 7px;
    padding: 7px 4px;
    background-color: #A9ACFF;
    color: #fff;
    border-radius: 5px;
    max-width: 276px;
    font-size: 16px;
}

.header-logo-text-subtitle {
    font-weight: 400;
    font-size: 11px;
    color: #4F4F4F;
    margin-top: 5px;
}

.header-nav-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-nav-list-item a {
    font-weight: 400;
    font-size: 12px;
    color: #4F4F4F;
}

.sociable-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sociable-link {
    width: 36px;
    height: 36px;
    background-color: #d7d3d3;
    border-radius: 10px;
    position: relative;
}

.sociable-link.tg {
    border-radius: 50%;
}

.sociable-link::after {
    content: url('../img/vk_chat_logo.webp');
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 6px;
    margin: auto;
}

.sociable-link.vk_chat::after {
    left: 7px;
}

.sociable-link.vk::after {
    content: url('../img/vk_logo.webp');
    top: 10px;
}

.sociable-link.tg::after {
    content: url('../img/tg_logo.png');
    top: 10px;
}

@media(max-width: 788px) {
    .header-nav {
        display: none;
    }

    .header-logo {
        margin-right: 0;
    }
}

@media(max-width: 500px) {
    .header-logo-text {
        display: none;
    }
}

.progress-bar {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 4px;
    width: 0%;
    background: linear-gradient(267.25deg, #CCCCFB 12.52%, #BAF9E1 84.57%);
    border-radius: 0 12px 12px 0;
}

.header-nav-list-burger {
    display: none;
}

.burger-menu-btn-wrapper {
    cursor: pointer;
    width: 35px;
    height: 25px;
}

.burger-menu-btn {
    width: 35px;
    height: 3px;
    background-color: #d7d3d3;
    position: relative;
    border-radius: 27px; 
}

.burger-menu-btn-wrapper.active {
    width: 35px;
    height: 35px;
}

.active .burger-menu-btn {
    position: relative;
    top: 15px;
    transform: rotate(45deg); 
}

.burger-menu-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #d7d3d3;
    position: absolute;
    top: 10px;
    border-radius: inherit;
}

.active .burger-menu-btn::after {
    top: 0;
    transform: rotate(-90deg);
}

.burger-menu-btn::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #d7d3d3;
    position: absolute;
    top: 20px;
    border-radius: inherit; 
}

.active .burger-menu-btn::before {
    display: none;
}

@media(max-width: 788px) {
    .header-nav-list-burger {
        display: block;
    }
}

.header-nav-list-burger .header-nav-list {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #1E1E1E;
	transform: translateX(-100%);
	transition: transform 0.5s; 
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}

.header-nav-list-burger .header-nav-list a {
    color: #fff;
}

.header-nav-list-burger .header-nav-list .header-nav-list-item a {
    font-size: 14px;
}

.header-nav-list-burger .header-nav-list.active {
    transform: translateX(0);
}


@media(max-width: 545px) {
    .sociable-links {
        margin-left: 40px;
    }
}

@media(max-width: 500px) {
    .sociable-links {
        margin-left: 0px;
    }
}